<!-- <h2>My Task List</h2>

<ng-container *ngFor="let task of tasks">
  <app-task-item
    [task]="task"
    (delete)="handleDelete($event)">
  </app-task-item>
</ng-container> -->
<!-- <h2>My Task List</h2>

<ng-container *ngFor="let task of tasks; index as i">
  <app-task-item
    [task]="task"
    [index]="i"
    (delete)="handleDelete($event)">
  </app-task-item>
</ng-container> -->

<!-- Success Banner: Full width -->


<!-- <div *ngIf="showSuccess" class="success-banner">
  You have successfully deleted <strong>{{ deletedTaskName }}</strong>
</div>

<div class="task-list-container">
  <h2>My Task List</h2>

  <div class="add-task">
    <input
      type="text"
      placeholder="Enter a task"
      [(ngModel)]="newTask"
      (keyup.enter)="addTask()"
    />
    <button (click)="addTask()" class="btn btn-primary">Add</button>
  </div>

  <div *ngFor="let task of tasks; index as i">
    <app-task-item
      [task]="task.text"
      [done]="task.done"
      [index]="i"
      (markDone)="toggleDone($event)"
      (delete)="confirmDelete(deleteModal, $event)">
    </app-task-item>
  </div>

  <ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Confirm Delete</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete
      <strong>{{ tasks[taskToDeleteIndex!].text }}</strong>?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteTask(); modal.close()">Continue</button>
    </div>
  </ng-template>
</div> -->



<div *ngIf="showSuccess" class="success-banner">
  You have successfully deleted <strong>{{ deletedTaskName }}</strong>
</div>

<div class="task-list-container">
  <h2>My Task List</h2>

  <div class="add-task">
    <input
      type="text"
      placeholder="Enter a task"
      [(ngModel)]="newTask"
      (keyup.enter)="addTask()"
    />
    <button (click)="addTask()" class="btn btn-primary">Add</button>
  </div>

 
  <div *ngFor="let task of tasks; index as i" class="task-item-row">
    
    <a [routerLink]="['/task', i]" class="task-link">
      {{ task.text }}
    </a>

    <button
      (click)="toggleDone(i)"
      [ngClass]="task.done ? 'btn btn-success' : 'btn btn-danger'">
      {{ task.done ? 'Undo' : 'Done' }}
    </button>

    <button
      (click)="confirmDelete(deleteModal, i)"
      class="btn btn-secondary">
      Delete
    </button>
  </div>

  <ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Confirm Delete</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete
      <strong>{{ tasks[taskToDeleteIndex!].text }}</strong>?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteTask(); modal.close()">Continue</button>
    </div>
  </ng-template>
</div>
